* {
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links-to-recipies {
    background-color: #f6ddb6;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    border: 5px #eba535 solid;
}

.links-to-recipies li {
    list-style-type: square;
    padding: 5px 0px;
}

.recipe-card {
    background-color: rgb(174, 244, 255);
    padding: 20px;
    width: 800px;
    margin: 50px auto;
    background-color: #f6ddb6;
    border: 5px #eba535 solid;
    border-radius: 20px;
}

.recipe-card h2{
    color: #eba535;
}

.recipe-card img {
    border: 2px #eba535 dotted;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.steps li{
    margin: 10px 0px;
}

.ingredients li{
    margin: 5px 0px;
}

figcaption {
    text-align: center;
}

h1 {
    background-color: #eba535;
    border-radius: 50px;
    width: 600px;
    height: 100px;
    padding: 30px;
    text-align: center;
    margin: 50px auto;
    color: white;
}

div.description,
div.ingredients,
div.steps,
div.editors-note {
    border: 2px #eba535 dotted;
    padding: 20px;
    margin:15px;
}

.ingredients li{
    list-style-type: circle;
}

h1.homepage {
    width: 400px;
    color: white;
}