* {
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links-to-recipies {
    background-color: #f6ddb6;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    border: 5px #eba535 solid;
}

.links-to-recipies li {
    list-style-type: square;
    padding: 5px 0px;
}

.recipe-card {
    background-color: rgb(174, 244, 255);
    padding: 20px;
    width: 800px;
    margin: 50px auto;
    background-color: #f6ddb6;
    border: 5px #eba535 solid;
    border-radius: 10px;
}

h1 {
    background-color: #eba535;
    border-radius: 50px;
    width: 600px;
    height: 100px;
    padding: 30px;
    text-align: center;
    margin: 50px auto;
}

h1.homepage {
    width: 400px;
}